<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Address Book</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <script type="text/javascript" src="~/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      @Html.Partial("Header")
      <div class="content well">
        @RenderBody()
      </div>
      @Html.Partial("Footer")
    </div>
  </body>
</html>
