@{
 Layout = "_Layout";
}

<h1>Add A New Contact</h1>
<form action="/add" method="post">
  <div class="form-group">
    <input type="text" name="name" class="form-control" placeholder="Name">
    <input type="tel" name="number" class="form-control" placeholder="Number">
  </div>
  <div class="form-group">
    <input type="text" name="address" class="form-control" placeholder="Address">
    <input type="text" name="city" class="form-control" placeholder="City">
    <input type="text" name="state" class="form-control" placeholder="State">
    <input type="text" name="zip" class="form-control" placeholder="Zip">
  </div>
  
  <div class="form-group">
    <button type="submit" class="btn btn-info form-control">Add Contact</button>
  </div>
</form>